*{padding:0px;
	magrin:0px;
		line-height:20px;
		}
body{
	height:100%;
	background-color:#E1E1E1;
	position:relative
		
}
img{
	border:thin
		}
#main_block{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#464646;
	overflow:hidden;
	width:752px;
	float:left;
}
.content_main{
	width:720px;
	float:left;
	padding:20px 0 10px 20px;
}
.box_details{
	padding:10px 0 10px 0;
	margin:10px 20px 10px 0;
	clear:both;
}
.box_details p{padding:5px 15px 5px 15px;
text-indent: 2em}
img.right{
	float:right;
	padding:0 0 0 30px;
}
.test ul{list-style:none;} 
.test li{float:left;} 
.test li{float:left;width:100px;} 
.test{width:350px;} 
.test a:link{color:#666;background:#CCC;text-decoration:none;}
.test a:visited{color:#666;text-decoration:underline;}
.test a:hover{color:#FFF; font-weight:bold;text-decoration:underline;background:#F00;}
.test a{display:block；text-align:center;height:30px;}
.test li{float:left;width:100px;background:#CCC;margin-left:3px;line-height:30px;}
.test a:link{color:#666;background:url(arrow_off.gif) #CCC no-repeat 5px 12px;text-decoration:none;}
.test a:hover{color:#FFF; font-weight:bold;text-decoration:none;
background:url(arrow_on.gif) #F00 no-repeat 5px 12px;} 

